body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1 {
    text-align: center;
    color:skyblue;
}

#header {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
}

.message {
    margin:0px;
    padding:10px;
}

.message:nth-child(odd) {
    background-color:#F5FFFF;
}